/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/06/2016, 17:33:27
    Author     : Will Saymon
*/

#aboutMe{
        
	border-radius: 5px;
        background-color: #050412;
        color: white;
        padding: 0px 7px 10px 7px;
}


#aboutMe h3{
	font-size: 20px;
	font-family: AlegreyaSans-ExtraBold;
        color: white;
}

#dataBio{
    background-color: #28243b;
    padding: 10px;
    border-radius: 5px;
}
