/*
		Autor: Willian Saymon;
		Data de Criação: 18/05/2016;
		Data de update: 20/05/2016;
		Descrição: Código css para a página de perfil do usuário(my_profile.php);
*/


/*Parte responsável por adicionar fontes */

@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}

@font-face{
	font-family: AlegreyaSans-Medium;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}
@font-face{
	font-family: AlegreyaSans-Light;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Light.ttf");
}

#content{
    
    margin-top: 100px; 
    
    
}
#title{
    color: #1d1d1d;
    font-size: 50px;
    border-bottom: 2px #1d1d1d solid;
    margin-bottom: 5px;
    font-family: AlegreyaSans-ExtraBold;
    margin-left: 10px;
}

