/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/06/2016, 19:18:10
    Author     : Will Saymon
*/
@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}

@font-face{
	font-family: AlegreyaSans-Medium;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}
@font-face{
	font-family: AlegreyaSans-Light;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Light.ttf");
}

#page-content{
    margin-left: 150px;
}
#title{
    
    border-bottom: 2px #1d1d1d solid;
    margin-bottom: 5px;
    background-color: #050412;
      
}
#title h1{
    color: white;
    
    font-size: 35px;
    font-family: AlegreyaSans-Medium;
}
#user{
    font-family: AlegreyaSans-Medium;
    background-color: #050412;
    padding:5px 5px 10px 5px; 
    margin:5px 20px 10px 40px;
    border-radius:5px;
   
}
#user img{
    height: 60px;
    width: 60px;
}
#user a{
    color:white;
    font-family: AlegreyaSans-Light;
    
}
#destroyFriendship{
    background-color: #28243b;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    
}
#friend_request{
    background-color: #050412;
    color:white;  
    border-radius: 5px;
    margin-right: 5px;
}

#friend_request h3{
    text-align: center;
    font-size: 20px;
}