/*
		Autor: Willian Saymon;
		Data de Criação: 18/05/2016;
		Data de update: 20/05/2016;
		Descrição: Código css para a página principal do usuário(home.php);
*/


/*Parte responsável por adicionar fontes */

@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}

@font-face{
	font-family: AlegreyaSans-Medium;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}
@font-face{
	font-family: AlegreyaSans-Light;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Light.ttf");
}

#left{
    margin-top: 200px;
}
#right{
    margin-top: 70px;
    
}

