@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}
*{
    font-family: AlegreyaSans-ExtraBold;
}
body{
    background-image: url("../_imagens/The-Legend-of-Zelda.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    margin-bottom: 30px;

}
#navBar{
    background-color: rgba(0,0,0,0.8);
    margin-top: 1%;
    padding: 10px 0px 0px 0px;
    
}
#menuNavBar{
    margin-top: 16px;
    margin-right: 1.6%;
    font-size: 25px;
    
}
#menuNavBar li{
    margin-right: 20px;
}
#menuNavBar li a{
    color: #ffffff;
    
}
#logo{
    
    margin-left: 1%;
    max-height: 80px;
    width: auto;   
}
#wellcome{
    font-size: 2em;
    color: white;
    text-align: justify;
    text-shadow: black 1px 1px 10px;
    padding-top: 50px;
    
}
#register{
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#register label{
    margin-top: 5px;
    margin-bottom: 2px;
}
#register button{
    margin-top: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  color: white;
  background-color: rgba(0,0,0,0.6);
}
html {
  position: relative;
  min-height: 100%;
}
