/*
		Autor: Willian Saymon;
		Data de Criação: 18/05/2016;
		Data de update: 20/05/2016;
		Descrição: Código css para a página de perfil do usuário(my_profile.php);
*/


/*Parte responsável por adicionar fontes */

@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}

@font-face{
	font-family: AlegreyaSans-Medium;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}
@font-face{
	font-family: AlegreyaSans-Light;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Light.ttf");
}

body{
	background-color:#54c8d5 ;
}

/*Conteudo da página*/

#profileBody{
    margin-top: 100px;
    
}
#left{

	float: left;
	width: 20%;
	margin-top: 125px;
	border-right: 1px solid black;

}
#aboutMe{
	margin-top: 70px;
}
#aboutMe p a {
	float: right;
	margin-right: 15px;
	margin-top: 30px;
	text-decoration: none;
	font-family: AlegreyaSans-ExtraBold;
	color: #ffffff;
	background-color: #203677;
	padding: 5px;
	border-radius: 5px;
}

#aboutMe p a:hover {
	transition: 0.5s;
	background-color: #001e77;
}

#aboutMe .data {
	padding:15px 5px 0px 5px;


}
#aboutMe .data h3{
	font-size: 15px;
	font-family: AlegreyaSans-Medium;


}

#content{
	float: right;
	margin-right: 15%;
	width: 60%;
	margin-top: 130px;
}
#share{
	float: left;
	width: 100%;
	background-color: #203677;
	border-radius: 5px;


}
#share textarea{
	font-family: AlegreyaSans-Light;
	margin-left: 3%;
	margin-right: 3%;
	width: 93%;
}
#share button{
	float:right; 
	margin-right: 3%;
	font-family: AlegreyaSans-ExtraBold;
	color: #ffffff;
	background-color: #203677;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	margin-top: -15px;
	margin-bottom: 5px;
}

#share button:hover{
	transition: 0.2s;
	background-color: #001e77;

}
#timeLine{
	margin-top: 20px;

	float: left;
	width: 100%;
	background-color: #8cced5;
	border-radius: 5px;

}
