/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/05/2016, 13:54:02
    Author     : Will Saymon
*/

#publish{
    background-color:  #050412;
    border-radius: 5px;
    
    padding: 7px 7px 0px 7px;      
}
#publish .btn-primary {
    padding: 5px 10px 5px 10px;
    color: white;
    border: 0px;
    border-radius: 10px;
    background-color: #28243b;
    margin-top: 5px;
    margin:5px 10px -9px 10px;
}
#publish .btn-primary:hover{
    color:white;
    background-color: #a31e21;
    
}
	
textarea { resize: none;}