/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2016, 17:41:47
    Author     : Will Saymon
*/
@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}

@font-face{
	font-family: AlegreyaSans-Medium;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}
@font-face{
	font-family: AlegreyaSans-Light;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Light.ttf");
}
#page-content{
    padding: 0px;
}

#results{
  background-color: #050412;
  margin: 10px;
  padding: 15px;
  border-radius:5px;
}

#results img{
    height: 150px;
    width: auto;
    margin-right: 10px;
    
}
#resultsHeader{
    margin-bottom: 10px;
    border-bottom: 1px black solid;
}
#resultsHeader a{
    font-family: AlegreyaSans-Medium;
    font-size: 20px;
    color:white;
}
#resultsHeader p{
    font-family: AlegreyaSans-Medium;
    font-size: 15px;
    color:white;
}

#resultsHeader .btn-primary {
    padding: 5px 10px 5px 10px;
    color: #d1d1d1;
    border: 0px;
    border-radius: 10px;
    background-color: #980000;
    margin-top: -7px;
    
    font-size: 15px;
}
resultsHeader .btn-primary:hover{
    transition: 0.5s;
    color:white;
    background-color: red;
    text-decoration: none;
}
#resultsBody{
    padding: 10px;
    color:white;
    
}
#page-content #header {
    float: left;
    background-color: #050412;
    width: 100%;
    margin: 0px;
    width: 100%;
    color:white;
    font-size: 10px;

}
#page-content #header  div h1{
    font-family: AlegreyaSans-Medium;
    padding: 10px;
    font-size: 25px;
}
#searchNav{
    font-family: AlegreyaSans-Medium;
    margin-top: 10px;
    margin-left: -10px;
}
#searchNav li:first-child{
    font-family: AlegreyaSans-ExtraBold;
    margin-bottom: 1px;
    padding: 1px;
    border-bottom: 2px rgba(0,0,0, .1) solid;
}
#searchNav li{
    font-family: AlegreyaSans-Medium;
    padding: 5px;
    margin: 0px;

}
#searchNav li i{
    margin-right: 3px;

}
#searchNav li a{
    color:black;

}
#searchNav li:nth-child(3), #searchNav li:nth-child(3) a{
    background-color:#28243b;
    color: white;

}
