/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2016, 12:23:52
    Author     : Will Saymon
*/

@font-face{
	font-family: AlegreyaSans-ExtraBold;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf");
}

@font-face{
	font-family: AlegreyaSans-Medium;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}
@font-face{
	font-family: AlegreyaSans-Light;
	src: url("../_fontes/Alegreya_Sans/AlegreyaSans-Light.ttf");
}

#header{
    background-color: #050412;
    margin-bottom: 15px;
    padding: 0px;
}
#userBackgroud{
    height: 250px;
    background-image: url("../_imagens/The-Legend-of-Zelda.jpg");
    background-size:100% 120%;
}
#userPicAndName{
    margin-top: -90px;
    margin-bottom: 10px;
    margin-left: 1px;
}
#userPicAndName img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
#OtherUserName{
    color:white;
    font-family: AlegreyaSans-ExtraBold;
    font-size: 25px;
    margin: -30px auto auto 105px;
}

#header ul li{
    padding: 10px;
}
#header ul li:nth-child(2n){
    background-color: #28243b;
}
#header ul li a{
    color:white;
}
#header ul li a i{
    width: 20px;
    margin-right:  5px;
}














/*Estilo das publicações */
#publ{
    border: 1px rgba(0,0,0,.1) solid;
    border-color: #050412;
    background-color: white;
    margin: 15px 5px 5px 5px; 
    border-radius: 6px;
    color: white;
}
#publHeader{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #050412;
    padding: 10px 5px 5px 5px;
}
#publHeader a{
    color:white;
}
#publBody{

    padding: 10px 10px 15px 15px;
    font-family: AlegreyaSans-Medium;
    background-color: white;
    color: black;
    
}
#publFooter{
    
    padding: 5px 5px 0px 5px;
    margin-bottom: 0px;

}

#publ #userPic{
    margin-right: 5px;
    height: 50px;
    width: 50px;
}
#dayAndTime{
   color: #d1d1d1;
   font-size:10px;
}
#numLikes{
   margin-top: 5px;
   margin-left: 5px;
   color: black;
   font-size:10px;
    
}

#publ .btn-primary {
    padding: 4px 8px 4px 8px;
    color: white;
    border: 0px;
    border-radius: 10px;
    background-color: #28243b;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
    margin-top: -20px;  
    font-size: 10px
    
}
#publ .btn-primary:hover{
    transition: 0.5s;
    color:white;
    background-color: #a31e21;
    text-decoration: none;

}

#shareFace .btn-primary{
    background-color: white;
}
#shareFace .btn-primary:hover{
    background-color: white;
    color: #3b5998;
}

#myGames{
    background-color: #050412;
    border-radius: 5px;
    
}
#myGames div #game{
    width: 70px;

    float:left;
    color:white;
    text-align: center;
    margin: 9px;
   
}
#myGames img{
    height:60px;
    width: auto;
   
}
#myGames h1{
    font-family: AlegreyaSans-ExtraBold;
    color:white;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px #ffffff solid;
}
#myGames a{
    font-family: AlegreyaSans-Medium;
    color:white;
    text-align: right;
    font-size: 15px;
    margin-top: 5px;

}
#btnBody{
    color:#28243b;
    
}